footer {
    width: 100%;
    background-color: rgb(43, 63, 131);
    height: 100px;
    text-align: center;
  
    p {
      color: #f6f6f6;
      line-height: 100px;
      font-size: 25px;
      font-family: 'Times New Roman', Times, serif;
    }
}