main {
  text-align: center;
  height: 100%;
  width: 100%;
  div {
    background-color: #b0b6b5;
    width: 100%;

    form {
      input[type='url'] {
        width: 50%;
        line-height: 35px;
        margin-right: 25px;
        margin-bottom: 25px;
        margin-top: 25px;
      }
      input[type='radio'] {
        // margin-right: 25px;
        margin-bottom: 25px;
        // visibility: hidden;
      
      }
      input[type='radio']:checked + label {
        padding: 5px 20px;
        background: rgb(90, 87, 87);
    }
      button {
        margin-top: 25px;
        padding: 5px 20px;
        font-size: 25px;
        cursor: pointer;
      }
      button:hover {
        background-color: gray;
      }

      label {
        margin-right: 25px;
        margin-left: 10px;
        margin-bottom: 40px;
        font-size: 25px;
        cursor: pointer;
      }
    }
    span {
        display: inline-block;
        // margin-right: 50px;
        font-size: 30px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 30px;
      }
  }
}

.spans{
  height: 100px;
  text-align: center;
  line-height: 100px;
  margin-bottom: 15px;
}

.fix {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.myForm {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

textarea{
  height: 100px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 25%;
  display: inline-block;
  width: 48%;
  overflow-x: hidden;
}